# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore vscode files
.vscode

#Ignore corelib
advancedbackups-corelib.jar

#Runtime
run